body {
  background-color: #eeede5;
  color: #444;
  font-family: Roboto, Helvetica, sans-serif;
  padding: 0 8rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  margin-bottom: 1rem;
}

a {
  color: #195c7c;
  text-decoration: none;
}
